{% load static %}
<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		
		
	</head>
	<body>
		

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
					
						<h1>All posts</h1>
						
						
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
						{% for idea in queryset %}
							<section class="thumbnails">
								<div>
									<a>
										<img src="" alt="" />
										<div class="b"><h3 style="font-weight:bold;">{{idea.user.username}}</h3><h3 style="font-weight:bold;">{{idea.subject}}</h3></div>
										<hr>
										
										<div class="c">
										<p style="color:black;">{{idea.text}}</p>
										<!--end content--></div>
										<hr>
										
										<div class="b"><p>
										<form action="{% url 'like' idea.pk %}" method="GET">

											<input type="submit" name="like" value="Like">
										</form>
										<form action="{% url 'viewIdeas' idea.pk %}" method="GET">

											<input type="submit" name="like" value="Comment">
										</form>
									</p>
										<!-- <a href="{% url 'like' idea.pk %}" >Like</a><i class="icon style2 fa-thumbs-up"></i> -->
										<!-- <a href="{% url 'viewIdeas' idea.pk %}">Comment</a><i class="icon style2 fa-comment"></i>--></div> 

									</a>


									


								</div>
								
								
							</section>


					</section>
					{% endfor %}

					

				<!-- Footer -->
					<footer id="footer">
						
					</footer>

			</div>

		<!-- Scripts -->
			
			
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>